# Python virtualenvs
.venv/
venv/

# Python intermediates
*.pyc

# No config/override configs to VCS
config/serverconfig.xml
config/serveradmin.xml
config/*.values.override.yml
config/*.values.in.override.yaml

# Any log files
*.log

# Custom prefabs (too big)
custom_prefabs/

# Editor meta files
.vscode/
