# Do not commit override config to VCS.
config/serverconfig.xml
config/serveradmin.xml
config/*.values.override.yml

# Ignore any log files.
*.log

# Do not commit these to VCS.
custom_prefabs/

# Do not commit editor meta files to VCS.
.vscode/
